In [139]:
import pandas as pd
import csv
import json
import numpy as np

In [140]:
dataframes = []
for file in ('proj3_data1.json', 'proj3_data2.json', 'proj3_data3.json'):
    with open(file) as filename:
        data = pd.read_json(filename)
        dataframes.append(data)

In [141]:
ex1_df = pd.concat(dataframes, ignore_index=True)

In [142]:
ex1_df.to_json('ex01_all_data.json', orient='records')

In [143]:
null_dict = {}
for index, row in ex1_df.iterrows():
    for column in ex1_df.columns:
        if pd.isna(row[column]):
            if column in null_dict.keys():
                null_dict[column] += 1
            else:
                null_dict[column] = 1
print(null_dict)

{'fuel_consumption': 4, 'doors': 2}

In [144]:
with open('ex02_no_nulls.csv', 'w', newline='\n') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    for key, value in null_dict.items():
        writer.writerow([key, value])

In [145]:
ex1_df['description'] = None
with open('proj3_params.json') as file:
    params = json.load(file)
concat_columns = params['concat_columns']
print(concat_columns)
for index, row in ex1_df.iterrows():
    tmp_string = str()
    for element in concat_columns:
        tmp_string += row[element]
        tmp_string += " "
    tmp_string = tmp_string[:-1]
    ex1_df.loc[index, 'description'] = tmp_string
ex1_df

['make', 'model', 'engine']

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine,description
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI,Audi A3 1.5 TFSI
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo,BMW 3 Series 2.0L TwinPower Turbo
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI,Volkswagen Golf 1.5 TSI
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi,Renault Clio 1.5 dCi
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir,Fiat 500 0.9 TwinAir
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech,Peugeot 208 1.2 PureTech
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4,Volvo XC60 B4
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI,Seat Leon 1.5 TSI
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo,Opel Corsa 1.2 Turbo
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost,Ford Mustang 2.3L EcoBoost
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI,Volkswagen Passat 2.0 TDI
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6,Porsche 911 3.0L Twin Turbo V6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro,Audi Q5 45 TFSI quattro
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered,Volvo S60 T8 Polestar Engineered
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi,Renault Megane 1.5 dCi
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP,Peugeot 3008 1.6 THP
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v,Fiat Panda 1.2 8v
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v,Fiat Punto 1.2 8v

In [146]:
ex1_df.to_json('ex03_description.json', orient='records')

In [147]:
with open('proj3_more_data.json') as filename:
    ex4_df = pd.read_json(filename)

join_column = params['join_column']

In [148]:
joined_df = pd.merge(ex1_df, ex4_df, on=join_column, how='left')
joined_df

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine,description,displacement,horsepower,fuel_type,cylinders,emissions_class
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI,Audi A3 1.5 TFSI,1498.0,150.0,gasoline,4.0,Euro 6d
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo,BMW 3 Series 2.0L TwinPower Turbo,1998.0,184.0,gasoline,4.0,Euro 6d
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI,Volkswagen Golf 1.5 TSI,1498.0,150.0,gasoline,4.0,Euro 6d
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi,Renault Clio 1.5 dCi,1461.0,115.0,diesel,4.0,Euro 6d-TEMP
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir,Fiat 500 0.9 TwinAir,875.0,85.0,gasoline,2.0,Euro 6d-TEMP
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech,Peugeot 208 1.2 PureTech,1199.0,130.0,gasoline,3.0,Euro 6d
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4,Volvo XC60 B4,NaN,NaN,NaN,NaN,NaN
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI,Seat Leon 1.5 TSI,1498.0,150.0,gasoline,4.0,Euro 6d
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo,Opel Corsa 1.2 Turbo,1197.0,110.0,gasoline,4.0,Euro 6d-TEMP
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost,Ford Mustang 2.3L EcoBoost,2261.0,350.0,gasoline,4.0,Euro 6d-TEMP
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI,Volkswagen Passat 2.0 TDI,1968.0,150.0,diesel,4.0,Euro 6d-TEMP
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6,Porsche 911 3.0L Twin Turbo V6,3000.0,450.0,gasoline,6.0,Euro 6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro,Audi Q5 45 TFSI quattro,1984.0,245.0,gasoline,4.0,Euro 6
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered,Volvo S60 T8 Polestar Engineered,1969.0,415.0,hybrid,4.0,Euro 6
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi,Renault Megane 1.5 dCi,1461.0,115.0,diesel,4.0,Euro 6d-TEMP
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP,Peugeot 3008 1.6 THP,1598.0,165.0,gasoline,4.0,Euro 5
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v,Fiat Panda 1.2 8v,NaN,NaN,NaN,NaN,NaN
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v,Fiat Punto 1.2 8v,NaN,NaN,NaN,NaN,NaN

In [149]:
joined_df.to_json('ex04_joined.json', orient='records')

In [150]:
for index, row in joined_df.iterrows():
    row_dict = dict(row)
    json_str = json.dumps(row_dict)
    tmp_string = row_dict['description']
    tmp_string = tmp_string.lower()
    tmp_string = tmp_string.replace(' ', '_')
    file_name = f"ex05_{tmp_string}.json"
    with open(file_name, 'w') as file:
        file.write(json_str)

In [151]:
int_columns = params['int_columns']

for index, row in joined_df.iterrows():
    for column in int_columns:
        if not pd.isna(row[column]):
            row[column] = int(row[column])
    row = row.replace({np.nan: None})
    row_dict = dict(row)
    json_str = json.dumps(row_dict)
    tmp_string = row_dict['description']
    tmp_string = tmp_string.lower()
    tmp_string = tmp_string.replace(' ', '_')
    file_name = f"ex05_int_{tmp_string}.json"
    with open(file_name, 'w') as file:
        file.write(json_str)

In [152]:
aggregation = params['aggregations']
tmp_dict = dict()
for element in aggregation:
    agg_func_str = element[1]
    agg_func = getattr(pd.Series, agg_func_str)
    result = agg_func(joined_df[element[0]])
    tmp_string = f'{element[1]}_{element[0]}'
    tmp_dict[tmp_string] = result
    json_str = json.dumps(tmp_dict)
    with open('ex06_aggregations.json', 'w') as file:
        file.write(json_str)

In [153]:
grouped_df = joined_df.groupby(params['grouping_column'])
grouped_df = grouped_df.filter(lambda x: len(x) > 1).groupby(params['grouping_column']).agg('mean', numeric_only=True)

grouped_df.to_csv('ex07_groups.csv', index=True, header=True)

In [154]:
pivot_index = params['pivot_index']
pivot_columns = params['pivot_columns']
pivot_values = params['pivot_values']

In [155]:
pivot_df = joined_df.pivot_table(index=pivot_index, columns=pivot_columns, values=pivot_values, aggfunc='max')
pivot_df = pivot_df.reset_index()
pivot_df = pivot_df.drop(pivot_df.columns[0], axis=1)
pivot_df.to_pickle('ex08_pivot.pkl')

In [156]:
id_vars = params['id_vars']
value_vars = list(joined_df.columns)
value_vars = [element for element in value_vars if element not in id_vars]
df_long = joined_df.melt(id_vars=id_vars, value_vars=value_vars,var_name='variable', value_name='value')
df_long.to_csv('ex08_melt.csv', index=False, header=True)

In [157]:
statistics_df = pd.read_csv('proj3_statistics.csv', sep='[,;]', engine='python')
statistics_df

,Country,Audi_2019,Audi_2020,BMW_2019,BMW_2020,Volkswagen_2019,Volkswagen_2020,Renault_2019,Renault_2020
0,Poland,12,14,21,25,32,36,22,20
1,Germany,24,26,31,35,44,48,17,15
2,France,20,22,29,33,36,40,28,26
3,Spain,16,18,25,29,40,44,19,17
4,Italy,18,20,27,31,48,52,31,29

In [158]:
grouping_variable = statistics_df.columns[0]