In [23]:
import pandas as pd
import numpy as np
import re

In [25]:
filename = 'proj2_data.csv'
df = pd.read_csv(filename, sep='|', decimal=',')

if len(df.columns) < 2:
    df = pd.read_csv(filename, sep=';', decimal=',')

    if "float64" not in df.dtypes.values:
        df = pd.read_csv(filename, sep='|', decimal='.')

elif "float64" not in df.dtypes.values:
    df = pd.read_csv(filename, sep='|', decimal='.')

df.head(12)

,full_name,field,language,code,task_1,task_2,task_3,tasks_avg,task_grade,jury_score,final_grade
0,Rowan Harrington,drones,python,wej,3.1,2.0,4.4,3.166667,dostateczny,"3,5 pts",dostateczny
1,Nash Wyatt,racing,java,sfe,4.2,2.0,2.0,2.733333,bardzo dobry,5 p,mierny
2,Jadiel Ramirez,media,cplusplus,vaw,4.0,4.9,3.0,3.966667,dobry,3.5,mierny
3,Makaila Atkins,racing,swift,ugt,4.1,5.0,4.8,4.633333,dobry,2,dostateczny
4,Melanie Fuller,racing,python,owb,2.7,2.0,2.0,2.233333,bardzo dobry,pts 2,mierny
5,Layla Woodard,drones,python,wuf,2.8,2.0,2.0,2.266667,bardzo dobry,"3,5p",dostateczny
6,Edwin Hale,media,swift,ceq,4.9,3.0,3.4,3.766667,dostateczny,-1 (dnf),niedostateczny
7,Travis Rocha,robotics,cplusplus,eir,5.0,4.9,5.0,4.966667,dostateczny,0,niedostateczny
8,Ricky Howell,media,java,vos,2.1,2.0,2.0,2.033333,dobry,waiting,niedostateczny
9,Addyson Brennan,drones,java,cov,4.4,3.7,4.0,4.033333,bardzo dobry,-,niedostateczny
10,Megan Barker,drones,swift,oqq,3.9,4.0,4.4,4.100000,dostateczny,2,dostateczny
11,Abel Hendricks,racing,python,dfa,4.1,5.0,5.0,4.700000,bardzo dobry,4,mierny

In [26]:
df.to_pickle('proj2_ex01.pkl')

In [27]:
with open('proj2_scale.txt', 'r') as file:
    text = file.read()

words = text.split('\n')
print(words)

['niedostateczny', 'mierny', 'dostateczny', 'dobry', 'bardzo dobry']

In [37]:
df_copy = df.copy()
columns = []
for column in df_copy.columns:
    column_to_change = True
    for word in df_copy[column]:
        if word not in words:
            column_to_change = False
            break
    if column_to_change:
        columns.append(column)
        for index, word in enumerate(df_copy[column]):
            word = words.index(word)
            df_copy[column][index] = word + 1
print(columns)
df_copy

['task_grade', 'final_grade']

/tmp/ipykernel_31881/2876967071.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy[column][index] = word + 1

,full_name,field,language,code,task_1,task_2,task_3,tasks_avg,task_grade,jury_score,final_grade
0,Rowan Harrington,drones,python,wej,3.1,2.0,4.4,3.166667,3,"3,5 pts",3
1,Nash Wyatt,racing,java,sfe,4.2,2.0,2.0,2.733333,5,5 p,2
2,Jadiel Ramirez,media,cplusplus,vaw,4.0,4.9,3.0,3.966667,4,3.5,2
3,Makaila Atkins,racing,swift,ugt,4.1,5.0,4.8,4.633333,4,2,3
4,Melanie Fuller,racing,python,owb,2.7,2.0,2.0,2.233333,5,pts 2,2
5,Layla Woodard,drones,python,wuf,2.8,2.0,2.0,2.266667,5,"3,5p",3
6,Edwin Hale,media,swift,ceq,4.9,3.0,3.4,3.766667,3,-1 (dnf),1
7,Travis Rocha,robotics,cplusplus,eir,5.0,4.9,5.0,4.966667,3,0,1
8,Ricky Howell,media,java,vos,2.1,2.0,2.0,2.033333,4,waiting,1
9,Addyson Brennan,drones,java,cov,4.4,3.7,4.0,4.033333,5,-,1
10,Megan Barker,drones,swift,oqq,3.9,4.0,4.4,4.100000,3,2,3
11,Abel Hendricks,racing,python,dfa,4.1,5.0,5.0,4.700000,5,4,2

In [29]:
df_copy.to_pickle('proj2_ex02.pkl')

In [42]:
df_copy2 = df.copy()
print(columns)
print(words)
for column in columns:
    df_copy2[column] = df_copy2[column] = df_copy2[column].astype('category')
    df_copy2[column] = df_copy2[column].cat.set_categories(words)
df_copy2.dtypes

['task_grade', 'final_grade']
['niedostateczny', 'mierny', 'dostateczny', 'dobry', 'bardzo dobry']

full_name        object
field            object
language         object
code             object
task_1          float64
task_2          float64
task_3          float64
tasks_avg       float64
task_grade     category
jury_score       object
final_grade    category
dtype: object

In [41]:
df_copy2.to_pickle('proj2_ex03.pkl')

In [35]:
new_df = df.copy()
new_df = new_df.select_dtypes(exclude=['float64'])
new_df.replace(to_replace=r'[^0-9\.\-\,]', value='', regex=True, inplace=True)
new_df.replace(to_replace=r'[\,]', value='.', regex=True, inplace=True)
new_df.replace(to_replace=r'^\.$', value='', regex=True, inplace=True)
new_df.replace(to_replace=r'^\-$', value='', regex=True, inplace=True)

new_df = new_df.apply(pd.to_numeric, errors='coerce')
new_df = new_df.dropna(axis=1, how='all')
new_df

    jury_score
0          3.5
1          5.0
2          3.5
3          2.0
4          2.0
5          3.5
6         -1.0
7          0.0
8          NaN
9          NaN
10         2.0
11         4.0

In [19]:
new_df.to_pickle('proj2_ex04.pkl')

In [36]:

df_copy4 = df.copy()
df_copy4 = df_copy4.select_dtypes(include=['object'])
df_copy4 = df_copy4.loc[:, df_copy4.apply(pd.Series.nunique) <= 10]
df_copy4 = df_copy4.loc[:, df_copy4.apply(lambda x: x.str.contains('^[a-z]*$').all())]
df_copy4 = df_copy4.loc[:, ~df_copy4.isin(words).all()]

i = 1
for col in df_copy4.columns:
    df_copy4[col] = df_copy4[col].astype('category')
    result = pd.get_dummies(df_copy4[col])
    result.to_pickle(f'proj2_ex05_{i}.pkl')
    i += 1

print(result)

    cplusplus  java  python  swift
0           0     0       1      0
1           0     1       0      0
2           1     0       0      0
3           0     0       0      1
4           0     0       1      0
5           0     0       1      0
6           0     0       0      1
7           1     0       0      0
8           0     1       0      0
9           0     1       0      0
10          0     0       0      1
11          0     0       1      0